<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="app_name" value="app"/>
    <property name="log_root" value="${log_root:-log}"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_root}/${app_name}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>log/${app_name}.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <Pattern>^A[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%c] [%M:%L] %msg %n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="AsyncAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="dailyRollingFileAppender"/>
    </appender>

    <logger name="com.dfocus.dplatform2" level="INFO">
        <appender-ref ref="AsyncAppender"/>
    </logger>
</configuration>
